/* Styling for the ripple button */
.btn-ripple {
  background-color: #181c20; /* Setting the initial button background color */
  transition: background 0.8s; /* Adding a transition to the background color */
}
 
/* Defining the hover state */
.btn-ripple:hover {
  background: #181c20 radial-gradient(circle, transparent 1%, #181c20 1%)
    center/15000%; /* Creating a radial gradient background on hover */
}
 
/* Defining the active (clicked) state */
.btn-ripple:active {
  background-color: #5e5e5e; /* Changing the button color when active */
  background-size: 100%; /* Increasing the size of the background image */
  transition: background 0s; /* Removing the transition from the background color */
}

.option_header {
  padding: 15px 25px;
  font-size: 0.9em;
  font-weight: 500;
  color: #cee5ff;
}

.option_title {
  font-size: 1.2em;
}

.disable {
  color: #c1c7ce;
}

.option_desc {
  margin-top: 3px;
  font-size: 0.9em;
}

.option_section {
  padding: 15px 25px;
}
.option_section_only {
  font-size: 1.2em;
  padding: 15px 25px;
}

.option_spliter {
  width: 100%;
  border-top: 1px solid black;
  background-color: black;
  color: #000;
}