@font-face {
  font-family: "ProductSans Regular";
  src: url("../fonts/ProductSans-Regular.ttf");
}

@font-face {
  font-family: "ProductSans Italic";
  src: url("../fonts/ProductSans-Regular.ttf");
}