:root {
  --background: #181c20;
  --font: #fff;
  --desc: #c9c9c9;
  --spliter: #283136;
  --bright: #8d1d19;
  --dim: #1d2327;
  --error: #8d1d19;
  --icon: #48565e;
  --icon-bc: #2b3338;
  --small-card: var(--icon-bc);
  --button: var(--background);
  /* Locked Color */
  --lock-desc: #c9c9c9;
  --lock: #fff;
  --font-family: 'ProductSans Regular', 'ProductSans Italic', sans-serif;
  /* --font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
}

.radios input[type=radio] {
  display: none;
}

.radio input[type=radio] {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  background-color: var(--background);
  color: var(--font);
  font-family: var(--font-family)
}

body {
  margin: 0;
}

a {
  text-decoration: none !important;
}

.load_screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--background);
  z-index: 10;
  justify-content: center;
  display: flex;
  align-items: center;
}

.full_screen {
  position: fixed;
  overflow-y: scroll;
  z-index: 10;
  top: 0;
  bottom: 0; 
  left: 0; 
  right: 0; 
  transition: top 0.35s ease-in-out;
}

.loader {
  border: 6px solid var(--icon-bc);
  border-top: 6px solid var(--icon);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Components */
.header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  padding: 25px 15px;
  font-size: 20px;
  z-index: 5;
}

.panel {
  margin-bottom: 7em;
}

.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dim);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 25px;
  font-size: 20px;
}

.navtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  margin-top: 8px;
  opacity: 1;
}

.navhidden {
  visibility: hidden;
}

.navicon {
  background-color: var(--small-card);
  display: flex;
  width: 65px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.navicon_disable {
  display: flex;
  width: 65px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.card {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 15px 15px;
  border-radius: 15px;
  color: var(--lock);
}

.content {
  padding-bottom: 5px;
}

.spliter {
  border-bottom: 1px solid var(--spliter); 
}

.desc {
  color: var(--desc);
}

.liste {
  justify-content: space-between;
  align-self: center;
  display: flex;
}

.center {
  justify-content: center;
  align-self: center;
  display: flex;
}

.list {
  max-height: 25px;
  overflow-y: hidden; 
  transition: max-height 0.25s ease;
}

.full {
  max-height: 100%;
}

.expander {
  transform: rotate(0deg);
  transition: 0.2s ease-out;
}

.button_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.button {
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 30px;
  transition: transform 0.05s ease-in-out;
  background-color: var(--button);
}

.button:active {
  transform: scale(90%) 
}

.small_card {
  margin-top: 10px;
  background: var(--small-card);
  border-radius: 15px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
}

.small_card_bg {
  background: var(--small-card);
}

.small_card_bg_in {
  background: var(--icon);
}

.icon_animation {
  transition: transform 0.05s ease-in-out;
}

.icon_animation:active {
  transform: scale(80%) 
}

.element_animation {
  transition: transform 0.15s ease-in-out;
}

.element_animation:active {
  transform: scale(95%) 
}

.card_animation {
  transition: transform 0.05s ease-in-out;
}

.card_animation:active {
  transform: scale(95%) 
}

.errorh_textarea {
  field-sizing: content;
  resize: none; 
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  padding-bottom: 25px;
  font-family: monospace, monospace;
}

/* Card type */
.bright {
  border: 5px solid var(--bright);
  background: var(--bright);
}

.brightc {
  background: var(--bright);
  word-break: break-word;
}

.dim {
  border: 5px solid var(--dim);
  background: var(--dim);
}

.dimc {
  background: var(--dim);
  word-break: break-word;
}

/* Locked */
.lock {
  color: var(--lock);
}

.lockd {
  color: var(--lock-desc);
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--button);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 6px;
  bottom: 6px;
  background-color: var(--desc);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}